In [1]:
import pandas as pd

In [2]:
data=pd.read_table('/dssg/home/acct-medcl1/medcl1/Ovarian_carcinoma_GSE184880/HGSOC4/MT/OvarianCarcinoma_chrMdata.csv',sep=',',index_col=0)
data

           mutation  frequency         CellBarcode
0           5posC>A   0.000250  CGGGACTTCCTTCTAA-1
1           5posC>A   0.000250  GAGCCTGCAGAAACCG-1
2           5posC>T   0.000125  GAACACTCAGACACCC-1
3           6posA>G   0.000625  CTCAACCAGTATAACG-1
4           6posA>G   0.000625  GAACACTGTTATGGTC-1
...             ...        ...                 ...
109855  16550posT>A   0.001357  AATGGCTGTCTAATCG-1
109856  16555posA>C   0.000736  AAATGGACAATCTGCA-1
109857  16556posA>G   0.000746  AAAGGTAAGGAAAGTG-1
109858  16564posC>T   0.000806  AAATGGATCCCGAGTG-1
109859  16565posG>A   0.001631  AAAGGTATCTGACCCT-1

[109860 rows x 3 columns]

In [3]:
chrMfre=pd.read_table('/dssg/home/acct-medcl1/medcl1/Ovarian_carcinoma_GSE184880/HGSOC4/MT/OvarianCarcinoma_chrMmutationFRE.csv',header=None,names=['mutation','frequency'])
chrMfre

          mutation  frequency
0          5posC>A   0.000250
1          5posC>T   0.000125
2          6posA>G   0.000625
3          7posG>C   0.000125
4          7posG>T   0.000250
...            ...        ...
15419  16550posT>A   0.001357
15420  16555posA>C   0.000736
15421  16556posA>G   0.000746
15422  16564posC>T   0.000806
15423  16565posG>A   0.001631

[15424 rows x 2 columns]

In [4]:
chrMfre_partial=chrMfre[chrMfre['frequency']>0.1]
#chrMfre_partial=chrMfre_partial[chrMfre_partial['frequency']<0.9]
chrMfre_partial

          mutation  frequency
61        72posA>G   0.968777
143      151posT>C   0.947300
277      262posA>G   0.948452
346      308posC>T   0.250829
348      309posT>C   0.778186
...            ...        ...
14937  16128posG>A   0.955908
15131  16265posC>T   0.920980
15177  16303posT>C   0.925771
15284  16398posA>G   0.916602
15406  16518posT>C   0.846674

[68 rows x 2 columns]

In [5]:
data1=pd.merge(data,chrMfre_partial,on='mutation')
data2=data1.iloc[:,[0,1,2]]
data2.columns=['mutation','frequency','position']
data2

          mutation  frequency            position
0         72posA>G   0.968777  AAACCCAAGTCAATCC-1
1         72posA>G   0.968777  AAACCCAGTCTTCAAG-1
2         72posA>G   0.968777  AAACCCATCTCAATCT-1
3         72posA>G   0.968777  AAACGAACAACTCCAA-1
4         72posA>G   0.968777  AAACGAACACAGAGAC-1
...            ...        ...                 ...
68687  16518posT>C   0.846674  ACTTCCGAGTTGTACC-1
68688  16518posT>C   0.846674  ACTTTGTAGCTGTGCC-1
68689  16518posT>C   0.846674  AGCGCTGAGTTTGTCG-1
68690  16518posT>C   0.846674  AGTACCACACTGAGGA-1
68691  16518posT>C   0.846674  ACGTCCTCATCCGTGG-1

[68692 rows x 3 columns]

In [6]:
data2.to_csv('/dssg/home/acct-medcl1/medcl1/Ovarian_carcinoma_GSE184880/HGSOC4/MT/OvarianCarcinoma_chrMmutation.csv')

In [7]:
cor=pd.read_table('/dssg/home/acct-medcl1/medcl1/Ovarian_carcinoma_GSE184880/HGSOC4/MT/result_cor.txt',sep=',',header=None,names=['cell1','cell2','cor'])
cor

          cell1  cell2       cor
0             0      1 -0.014925
1             0      2 -0.014925
2             0      3 -0.014925
3             0      4 -0.026246
4             0      5 -0.014925
...         ...    ...       ...
48871436   9883   9885  0.581499
48871437   9883   9886  0.710964
48871438   9884   9885  0.502131
48871439   9884   9886  0.318903
48871440   9885   9886  0.692430

[48871441 rows x 3 columns]

In [8]:
index=pd.read_table('/dssg/home/acct-medcl1/medcl1/Ovarian_carcinoma_GSE184880/HGSOC4/MT/cols_index_cor.csv',sep=',')
index.columns=['index','CB']
index

      index                  CB
0         0  AAACCCAAGAGCATCG-1
1         1  AAACCCAAGATTTGCC-1
2         2  AAACCCAAGCAAGTGC-1
3         3  AAACCCAAGCATGCAG-1
4         4  AAACCCAAGGAGCTGT-1
...     ...                 ...
9882   9882  TTTGGTTTCAGGAGAC-1
9883   9883  TTTGTTGAGAAATTGC-1
9884   9884  TTTGTTGAGCTCATAC-1
9885   9885  TTTGTTGTCACTGATG-1
9886   9886  TTTGTTGTCTCCTGAC-1

[9887 rows x 2 columns]

In [9]:
clusters=pd.read_table('/dssg/home/acct-medcl1/medcl1/Ovarian_carcinoma_GSE184880/HGSOC4/cellranger/outs/analysis/clustering/graphclust/clusters.csv',sep=',')
index=pd.merge(index,clusters,left_on='CB',right_on='Barcode',how='inner')
index=index.iloc[:,[0,1]]
index

      index                  CB
0         6  AAACCCAAGTCAATCC-1
1        22  AAACCCAGTCTTCAAG-1
2        38  AAACCCATCGAGTACT-1
3        41  AAACCCATCGTTGTAG-1
4        43  AAACCCATCTCAATCT-1
...     ...                 ...
3661   9881  TTTGGTTTCAGCCTCT-1
3662   9883  TTTGTTGAGAAATTGC-1
3663   9884  TTTGTTGAGCTCATAC-1
3664   9885  TTTGTTGTCACTGATG-1
3665   9886  TTTGTTGTCTCCTGAC-1

[3666 rows x 2 columns]

In [10]:
cor1=cor[cor['cor']>0.8]
cor1=cor1[cor1['cor']<1]
cor1=pd.merge(cor1,index,left_on='cell1',right_on='index')
cor1=pd.merge(cor1,index,left_on='cell2',right_on='index')
cor1.columns=['cell1','cell2','cor','cell1index','cell1CB','cell2index','cell2CB']
cor2=cor1.iloc[:,[4,6,2]]
cor2

                  cell1CB             cell2CB       cor
0      AAACCCAGTCTTCAAG-1  AAACGAACAACTCCAA-1  0.833667
1      AAACCCAGTCTTCAAG-1  AAAGGTAAGCACTCCG-1  0.821554
2      AAACGAACAACTCCAA-1  AAAGGTAAGCACTCCG-1  0.838466
3      AAACGAACACAGAGAC-1  AAAGGTAAGCACTCCG-1  0.884753
4      AAAGAACTCTGGTTGA-1  AAAGGTAAGCACTCCG-1  0.881359
...                   ...                 ...       ...
52229  TGCGGGTTCGTCAGAT-1  TGGAGAGCAGTGTGGA-1  0.820400
52230  TGGAACTGTATGTCCA-1  TTCCTAACAGGCCCTA-1  0.959843
52231  TTCGGTCAGACGGTTG-1  TTTACCATCATTCGGA-1  0.820153
52232  TTCTTCCAGTGGAAAG-1  TTTACCAGTAGCGCCT-1  0.828140
52233  TTCTTGAAGCACTAAA-1  TTTACGTTCATCTACT-1  0.808895

[52234 rows x 3 columns]

In [11]:
data3=pd.read_table('/dssg/home/acct-medcl1/medcl1/Ovarian_carcinoma_GSE184880/HGSOC4/MT/OvarianCarcinoma_chrMmutation.csv',sep=',',index_col=0)
data3

          mutation  frequency            position
0         72posA>G   0.968777  AAACCCAAGTCAATCC-1
1         72posA>G   0.968777  AAACCCAGTCTTCAAG-1
2         72posA>G   0.968777  AAACCCATCTCAATCT-1
3         72posA>G   0.968777  AAACGAACAACTCCAA-1
4         72posA>G   0.968777  AAACGAACACAGAGAC-1
...            ...        ...                 ...
68687  16518posT>C   0.846674  ACTTCCGAGTTGTACC-1
68688  16518posT>C   0.846674  ACTTTGTAGCTGTGCC-1
68689  16518posT>C   0.846674  AGCGCTGAGTTTGTCG-1
68690  16518posT>C   0.846674  AGTACCACACTGAGGA-1
68691  16518posT>C   0.846674  ACGTCCTCATCCGTGG-1

[68692 rows x 3 columns]

In [12]:
numchrM=data3['position'].value_counts()
numchrM=numchrM.to_frame().reset_index()
numchrM

                   index  position
0     ACCAACATCGTGTCAA-1        67
1     AATGAAGAGACTACGG-1        66
2     AACGAAAAGCTTCTAG-1        65
3     AAGCGTTAGCCTAACT-1        65
4     ACATTTCCAATTCGTG-1        64
...                  ...       ...
9882  AGCCAGCGTCCTCCAT-1         1
9883  AGAGAATGTCCGGTCA-1         1
9884  CTACCTGCAACTGGTT-1         1
9885  AAAGGGCCAGAACATA-1         1
9886  AGCGCTGAGTTTGTCG-1         1

[9887 rows x 2 columns]

In [13]:
f=open('/dssg/home/acct-medcl1/medcl1/Ovarian_carcinoma_GSE184880/HGSOC4/MT/OvarianCarcinoma_tree08.csv','w')
for i in cor2.index:
    M=cor2.iloc[i,0]
    N=cor2.iloc[i,1]
    O=cor2.iloc[i,2]
    P=numchrM[numchrM['index'].isin([M])].iat[0,1]
    Q=numchrM[numchrM['index'].isin([N])].iat[0,1]
    if P - Q >0 :
        print ('%s\t%s\t%s\t%s\t%s/%s\t%s\t%s' %
                         (N, 
                          Q,
                          M,
                          P,
                          N,
                          M,
                          O,
                          1),file=f)
    else:
        print ('%s\t%s\t%s\t%s\t%s/%s\t%s\t%s' %
                         (M, 
                          P,
                          N,
                          Q,
                          M,
                          N,
                          O,
                          1),file=f)
f.close()